<li class="todo-item">
    <div class="todo-item-checkbox">
        <i class="fa fa-square-o" *ngIf="!todo.isCompleted"></i>
        <i class="fa fa-check-square-o" *ngIf="todo.isCompleted"></i>
        <input type="checkbox" [(ngModel)]="todo.isCompleted" />
    </div>
    <div class="todo-item-text">
        <span title="{{todo.todoName}}" [ngStyle]="{'text-decoration': todo.isCompleted ? 'line-through': 'none'}">{{todo.todoName}}</span>
    </div>
    <div class="todo-item-button">
        <button class="todo-item-button" type="button" (click)="deleteTodo()">X</button>
    </div>
</li>