.addtodo-container {
    width: 100%;
    height: $card-height;

    .addtodo-input {
        width: calc(100% - 10px);
        height: 100%;
        border: 0;
        padding: 0 5px;
        background-color: rgba(14,145,197,0.75);
        border-radius: 3px;
        transition: background 0.25s ease-in-out;
        -webkit-transition: background 0.25s ease-in-out;
        outline: none;
        &:focus {
            background-color: #fff;
        }
    }
}

