.addtodo-container {
    width: 100%;
    height: $card-height;
    .addtodo-input {
        width: calc(100% - 10px);
        height: 100%;
        border: 0;
        padding: 0 5px;
        background-color: rgba(14, 145, 197, 0.75);
        border-radius: 3px;
        transition: background-color 0.25s ease-in-out;
        -webkit-transition: background-color 0.25s ease-in-out;
        outline: none;
        &:focus {
            background-color: #fff;
            &::placeholder {
                color: rgba(0, 0, 0, 0.5);
            }
        }
        &::placeholder {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}