.date-picker {
  position: relative;
  .calendar {
    width: 200px;
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin: 5px 0;
    position: absolute;
    z-index: 1;
    &__header {
      height: 30px;
      display: flex;
      align-items: center;
      background-color: $header-color;
      color: #FFF;
      padding: 5px;
    }
    &__arrow {
      width: 10%;
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
    }
    &__current {
      width: 80%;
      display: flex;
      justify-content: center;
    }
    &__body {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% - 10px);
      padding: 5px;
      .calendar-day {
        width: calc(100% / 7);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        border-radius: 3px;
        &--active {
          background-color: $header-color;
          color: #FFF;
        }
        &--disabled {
          opacity: 0.5;
        }
      }
    }
  }
}