.user-profile {
    padding: 0 10px;
    display: flex;
    justify-content: flex-end;
    &__picture {
        height: 40px;
        width: 40px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
    }
}