<div class="login">
  <div class="login__body">
    <div class="login__title">
      <h3>Wunderbar</h3>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="login__form">
      <input-component [groupName]="loginForm" [inputType]="'email'" [inputName]="'email'" [controlName]="'email'" [inputPlaceholder]="'Email'" [iconClass]="'far fa-envelope-open'"></input-component>
      <input-component [groupName]="loginForm" [inputType]="'password'" [inputName]="'password'" [controlName]="'password'" [inputPlaceholder]="'Password'" [iconClass]="'fas fa-fingerprint'"></input-component>
      <div class="login__submit">
        <input type="submit" value="Login" />
      </div>
    </form>
  </div>
</div>